<% content_for :head, stylesheet_link_tag('testimonials') %>

<% content_for :body_content_left do %>
  <%= @page[:body].html_safe  %>

  <%= will_paginate @testimonials %>

  <div class="testimonials">
    <%= render :partial => 'testimonial', :collection => @testimonials %>
  </div>

  <%= will_paginate @testimonials %>
<% end %>

<% content_for :body_content_right do %>
  <%= @page[:side_body].html_safe  %>
<% end %>

<%= render :partial => "/shared/content_page" %>
